.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li{
    float: left;
    color: wheat;
}

.h1{
    color: blueviolet;
    background-color: aqua;
    font-size: 35px;
}

.p{
    color: orange;
    background-color: blue;
    font-style: italic;
}